{{!-- Consulta geral de empresas --}}

<h1 class="h1consulta">Empresas</h1>
<table id="customers" class="content-table">
    <thead>
    <tr class="head-table">
        <td>Consultar</td>
        <td>Razão Social</td>
        <td>CNPJ</td>
        <td>I.Estadual</td>
        <td>Telefone</td>
        <td>Data</td>
    </tr>
    <thead>
    {{#data}} 
    <tr>
        <td><a  href="/consultar/{{id}}"></a><img src="/img/Search.png"></a></td>
        <td>{{empresa}}</td>
        <td>{{cnpj}}</td>
        <td>{{ie}}</td>
        <td>{{telemp}}</td>
        <td>{{dt_inclusao}}</td>
    </tr>
    {{/data}}
</table>